/* Global */
*{
  margin:0;
  padding:0;
  font:18px/1.4 'Poppins' sans-serif;
}

body{
  font:18px/1.4 'Poppins' sans-serif;
  background-color: #000;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  box-sizing: border-box;
  position: relative;
}

section{
  height: 100vh;
}

h1, h2{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
}

a{
  text-decoration: none;
}

/* Navbar */
#navbar{
  width:100%;
  overflow: hidden;
  top:0;
  background: rgb(190,84,71);
  position: fixed;
  height: 58px;
}

#navbar li{
  display: inline-block;
  padding-right:25px;
  float:right;
  padding-top:10px;
}

#navbar a{
  font:25px/1.4 'Poppins', sans-serif;
  text-decoration: none;
  color:white;
  padding: 14px 16px;
}

#navbar a:hover{
  background: #45567d;
}

/* Welcome section */
#welcome-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  height: 100vh;
  background-color: #000;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

#welcome-section h1{
  margin-top:25%;
  margin-bottom: 25%;
  color:white;
  font-size: 50px;
  margin-bottom: 1%;
  font-weight: 700;
  text-align: center;
}

#welcome-section p{
  font:25px/1.4 'Poppins', sans-serif;
  color: rgb(190,84,71);
  margin-top:0;
  font-style: italic;
}

/* Projects */
#projects{
  background: rgb(63,76,112);
  width:100%;
}

#projects  h2{
  font-size:40px;
  color: white;
  text-decoration: underline;
  padding-top:80px;
}

.projects-grid{
  display: grid;
  grid-template-columns: 25% 25%;
  grid-template-rows: auto;
  grid-gap: 7% 8%;
  margin-top:60px;
  justify-content:center;
}

.project-img{
  width:100%;
  height: auto;
  margin-bottom: 0;
  padding-bottom: 0;
  display: block;
}

.grid-items p{
  text-align: center;
  background-color: rgb(44,49,57);
  color:white;
  text-decoration: none;
  font:18px/1.4 'Poppins', sans-serif;
  padding-top:12px;
  padding-bottom:12px;
  margin-top:0;
}

  a.project-tile{
    padding:0;
    margin:0;
    height: 0;
  }

  .grid-items a:hover .hidden-hover{
    animation-name: hover-title;
    animation-fill-mode: forwards;
    animation-duration: 800ms;
  }

  .hidden-hover{
    opacity:0;
    visibility: hidden;
  }

  .link-button{
    display:flex;
    flex-direction:column;
    margin-top:120px;
    align-items: center;
  }

  .link-button button{
    width:150px;
    padding: 10px;
    background-color: rgb(44,49,57);
    color:white;
    font:18px/1.4 'Poppins', sans-serif;
    border:0;
    cursor: pointer;
  }

.link-button button:hover{
  animation-name: hover-button;
  animation-duration: 550ms;
  animation-fill-mode: forwards;
}

/* Animation */
@keyframes hover-title {
  100%{
    opacity:1;
    visibility: visible;
    color:orange;
  }
}

@keyframes hover-button {
  100%{
    background: rgb(190,84,71);
  }
}

/* Contacts */
#contacts{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contacts h2{
  top:50%;
  text-align:center;
  color: white;
  font-size:60px;
  padding-bottom: 10px;
}

#contacts p{
  font:15px/1.4 'Poppins', sans-serif;
  color: white;
  margin-top:0;
  font-style: italic;
}

 #contacts ul{
  margin:0;
  padding:0;
  display:flex;
  flex-direction: column;
  left:50%;
  transform:translate(-50%, -50%);
}

 #contacts ul #contacts li{
  list-style-type:none;
  text-decoration: none;
  margin: 0 15px;
}

#contacts ul #contacts li #contacts a{
  display:block;
  width:60px;
  height:60px;
  text-align: center;
  line-height: 63px;
  background: #333;
  border-radius: 50%;
  font-size:30px;
  color:#666;
  transition: .5s;
}

#contacts ul #contacts li #contacts a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #ffee10;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

#contacts ul #contacts li #contacts a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
}

#contacts  ul #contacts li #contacts a:hover {
  color: #ffee10;
  box-shadow: 0 0 5px #ffee10;
  text-shadow: 0 0 5px #ffee10;
}
